#beer_show {
	.embed_youtube{
		position: relative;
		padding-bottom: 56.25%;
		padding-top: 30px;
		height: 0;
		overflow: hidden;
		width: 100%;
		height: auto;
		iframe, object, embed {
			position: absolute;
  			top: 0; left: 0;
  			width: 100%;
  			height: 100%;
  			border: none;
		}
	}
	.vid_info {
		background: $light;
		padding: 1em;
		border-radius: 0 0 .5em .5em;
		.nav-btn {
			float: left;
		    display: inline-block;
		    margin: .3em .2em;
		    font-size: .8rem;
		    padding: 1em 2em;
		    text-transform: uppercase;
		    letter-spacing: 1px;
		    width: 25%;
		    background: 25%;
		    color: $dark;
		    border: 2px solid $border;
		    @media (max-width: 768px){
		    	width: 42%;
		    	font-size: .6rem;
		    }
		    &:hover{
		    	border-color: $highlight;
		    	color: $highlight;
		    }
		}
		.fa-heart{
			color: blue;
			.red {
				color: red;
			}
		}
		.likes{
			.heart {
				float: right;
    			img {
    				width: 1.6rem;
    			}
			}
		}
	}
	h1 {
		text-align: center;
	}
	.avg_rating{
		font-style: italic;
		.big{
			font-size:2.2rem;
			color: $highlight;
		}
	}
	.description {
		width: 50%;
		float: left;
		@media screen and (max-width: 768px) {
			float: none;
			width: 100%;
		}
	}
	.beer_data {
 	   width: 40%;
 	   float: left;
 	   margin: 0 5%;
 	   p {
 	   	margin-bottom: .6em;
 	   }
 	   @media screen and (max-width: 768px) {
			float: none;
			width: 100%;
			margin: 0;
		}
		.button {
			width: 100%;
			display: inline-block;
			padding: .75rem 0;
			margin-bottom: 1rem;
			text-align: center;
			color: darken($border, 25%);
			&:hover {
				color: $highlight;
				border: 1px solid $highlight;
			}
		}

	}
	#random_beer {
		width: 25%;
		margin-left: 5%;
		margin-top: -3.2rem;
		float: left;
		h3 {
			font-size: 1rem;
		}
		.post {
			background: #F8F9FA;
			border: 1px solid #E4E4E4;
			border-radius: 0.3rem;
			.post_image {
				height: 200px;
				overflow: hidden;
				img {
					max-width: 100%;
					border-radius: .3rem .3rem 0 0;
				}
			}
			.post_content {
				h2 {
					margin: 0;
					font-weight: 100;
					padding: 1rem 5%;
					border-bottom: 1px solid #E4E4E4;
					font-size: 1.25rem;
					a {
						text-decoration: none;
						color: #333233;
						&:hover {
							color: #50A7C7;
						}
					}
				}
			}
		}
	}
	h1 {
		color: $dark;
	}
	img {
		max-width: 100%;
		border-radius: .3rem;
	}
	.description {
		font-size: 1.1rem;
		line-height: 1.5;
		color: $dark;
	}
	.review{
		.our_thoughts{
			.thoughts_title{
				img {
					border-radius: 50%;
				}
				.thoughts-heading {
					padding-bottom: 1em;
					margin-bottom: 0;
				}
				.star-rating{
					margin-top: 2em;
				}
			}
			a[data-method="delete"] img {
			width: 1.3em;
			}
		}
	}
}

#admin_links {
	border-top: 1px solid $border;
	border-bottom: 1px solid $border;
	text-align: center;
	padding: 1em 0;
	margin: 3em 0;
	a {
		color: $dark;
		margin: 0 1em;
		font-weight: 700;
		font-size: .8em;
		text-transform: uppercase;
		text-decoration: none;
		&:hover {
			color: $highlight;
		}
	}
}
