footer {
	border-top: 1px solid darken($border, 15%);
	background: $border;
	margin-top: 2em;
	.wrapper_footer {
		padding: 2em 0;
		.pull-left {
			@media (max-width: 932px) {
				float: none;
			}
			#instafeed{
				text-align: center;
				a {
					img {
						@media (max-width: 768px) {
							width: 5rem;
						}
						@media (max-width: 480px) {
							width: 3.5rem;
						}
						width: 8rem;
						vertical-align: middle;
						margin: 0 .5em;
					}
				}
			}
		}
		.pull-right {
			@media (max-width: 932px) {
				float: none;
			}

			.social {
				@media (max-width: 768px) {
					margin: 2em auto 1em;
				}
				@media (max-width: 480px) {
					margin: 1em auto 1em;
				}
				text-align: center;
				margin-bottom: 1em;
				margin-top: 1.3em; //4.3em when instagram is live

				a {
					padding: 0 .2em;
					color: $dark;
					&:hover {
						color: $highlight;
					}
				}
			}
		}
		nav {
			ul{
				text-align: center;
				list-style: none;
				margin: 0;
				padding: 0;
				li{
					display: inline;
					padding: 0 .5em;
					font-size: .8em;
					text-transform: uppercase;
					border-right: 1px solid darken($border, 15%);
					&:last-of-type {
						border: none;
					}
					a {
						color: darken($border, 15%);
						&:hover {
							color: darken($border, 25%);
						}
					}
				}
			}
		}
	}
}