.terms {
	margin-left: .6em;
}
input[type="checkbox"] {
	margin-top: .2em;
}
.edit_admin, .edit_beer {
	.col-half{
		width: 50%;
		float: left;
	}
	.field{
		padding: 0 15px;
		label {
			font-weight: bold;
			display: inline-block;
			margin-bottom: .6em;
		}
		img{
			vertical-align: middle;
			border-radius: 50%;
			height: 80px;
		}
		.pull-left{
			margin-bottom: 1em;

			p {
				vertical-align: middle;
				margin-top: 1.4em;
			}

		}

	}
	.actions {
		padding: 0 15px;
		border-bottom: 1px solid $border;
		padding-bottom:1em;
		.publish {
			background: $highlight;
			border: 1px solid $highlight;
			color: $light;
			&:hover {
				background: $border;
				border: none;
				color: $dark;
			}
		}
	}
	.muted-heading {
		color: lighten($dark, 15%);
		border-bottom: 1px solid $border;
		padding-bottom:.5em;
	}
}

form {
	.fb-btn {
		background: #4c66a4;
	    padding: 1em;
	    display: block;
	    margin-bottom: 1em;
	    text-align: center;
	    color: white;
	    line-height: 1.4;
	    &:hover{
	    	background: #3c5081;
	    }
		i {
			font-size: 1.3em;
		}
		p{
			margin-left: .2em;
			display: inline;
			font-size: 1.2em;
			color: $white;
			letter-spacing: 1px;
		}
	}
}
.cancel {
	color: lighten($dark, 20%);
	margin-bottom: 0;
}