.wrapper {
	.homepage_content{
		width: 100%;
		padding: 0 5% 0 2.5%;
		margin: 0 auto;
		display: block;
		.beer {
			background: $light;
			width: 30%;
			float: left; 
			margin: 1rem 1.5%; // 1.5% left-right when more than one post 
			border: 1px solid $border;
			border-radius: 0.3rem;
			@media (max-width: 900px) {
				width: 100%;
				float: none;
			}
			.beer_img {
				height: 200px;
				overflow: hidden;
				img {
					width: 100%;
					border-radius: .3rem .3rem 0 0;
				}
			}

			.beer_content {
				h2 {
					margin: 0;
					font-weight: 100;
					padding: 1rem 5%;
					border-bottom: 1px solid darken($border,5%);
					font-size: 1.25rem;
					letter-spacing: 1px;
					a {
						text-decoration: none;
						color: $highlight;
						&:hover {
							color: darken($highlight, 10%);
						}
					}
				}
			}


			.beer_info {
				padding: .75rem 5%;
				color: #969696;
				p {
					margin: 0;
					font-size: .8rem;
					text-transform: uppercase;
				}

			}


		}
	}
}