#reviews{
	padding: 10% 0;
	.review {
		border-top: 1px solid;
   		margin: 1em 0;
   		padding: 2.5em 1em;	
   		p {
   			overflow: hidden;
   		}
	}
	.review:last-of-type {
		border-bottom: 1px solid;
	}
	.review-btn {
		display: block;
	}

	a[data-method="delete"] img {
		width: 1.3em;
	}
}