.searching{
  margin-right: 1rem; 
}
.search-box{
  overflow: visible;
  width: 200px;
  vertical-align: middle;
  white-space: nowrap;
  display: inline-block
}

.search-box input#search{
  width: 200px;
  height: 32px;
  border: 1px solid $border;
  font-size: 10pt;
  float: left;
  color: $dark;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 25px;
  outline: none;
  margin: 0;

}

.search-box input#search:active, .search-box input#search{
  border-color: black;
}

.search-box input#search::-webkit-input-placeholder {
   color: #65737e;
}
 
.search-box input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
 
.search-box input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
 
.search-box input#search:-ms-input-placeholder {  
   color: #65737e;  
}

.search-box button.icon{
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
 
  border: none;
  background: none;
  height: 35px;
  width: 50px;
  color: #4f5b66;
  opacity: 1;
  font-size: 10pt;
  position: absolute;
    margin-left: -50px;

 
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}

