.super_skinny_wrapper{
	.splash-logo {
		margin: 35vh auto 0;
		display: block;
		width: 45rem;
	}
	.splash-title{
		margin: 0 10%;
		text-align: right;
		letter-spacing: 2px;
		text-transform: uppercase;
		font-weight: 200;
		@media (max-width: 600px){
			font-size: .8rem;
		}
	}
}