/*
 *= require responsive-nav
 */
@import 'normalize';

$dark: #424652;
$white: #ffffff;
$light: #eee;
$highlight: #875c3c;
$border: #e9e9e9;

* {
	box-sizing: border-box;
} 

body {
	font-family: 'lato', sans-serif;
}

blockquote {
    border-left: 3px solid $highlight;
    margin: 0;
    padding: 0 40px;
    -webkit-margin-before: 0;
    -webkit-margin-start: 0;
    -webkit-padding-start: 40px;
    -webkit-margin-after: 0;
    -webkit-margin-end: 0;
    font-style: italic;
    -webkit-padding-end: 40px;
    p {
    	color: $light;
    }
}

a {
	text-decoration: none;
	color: $highlight;
	&:hover {
		color: darken($highlight, 15%);
	}

}
.wrapper{
	width: 90%;
	margin: 0 auto;
}
.skinny_wrapper {
	width: 80%;
	max-width: 760px;
	margin: 0 auto;
}
.super_skinny_wrapper {
	width: 60%;
	margin: 0 auto;
}

.wrapper_padding{
	padding: 4rem 0;
}
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.hidden {
	display: none;
}
.notice, .alert {
	text-align: center;
	border-bottom: 1px solid $border;
	padding: 1em 0;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
	color: $dark;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.75rem;
}
h4 {
	font-size: 1.37rem;
}
h5 {
	font-size: 1.25rem;
}
h6 {
	font-size: 1rem;
}
p, li {
	font-size: 1.1rem;
	line-height: 1.75;
}
p, ul, ol {
	margin: 0 0 1.6em 0;
}
hr {
		width: 100%;
		display: inline-block;
		height: 2px;
		border: 0;
		border-top: 2px	dotted $highlight;
		margin: 2rem 0;
	}
#main_navigation {
	padding: 1.5em 5%;
	border-bottom: 1px solid $border;
	
	@media (min-width: 769px){
		.logo{
			float: left;
		}
	}

	.logo {
		padding:1rem;
		color: $dark;
		width: 15rem;
	}
	@media (max-width: 480px){
		.name{
			width: 8rem;
		}
	}
	@media (min-width: 769px){
		nav {
			float: right;
		}
	}
	nav {

		padding-top: 1.5rem;
		overflow: visible;
		@media (min-width: 769px){
			li {
				display: inline;
				a {
					color: $dark;
					text-decoration: none;
					margin: 0 1rem;
					font-size: 1rem;
				}
				img {
					display: inline-block;
				    height: 30px;
				    width: 30px;
				    vertical-align: middle;
				    border-radius: 50%;
				}
				strong {
					a {
						margin: 0 1em 0 0;
					}
				}
			}
		}	
	}
}
/* ------------------------------------------
  NECESSARY STYLES FOR RESPONSIVE NAV
--------------------------------------------- */

@media (max-width: 768px) {
.nav-collapse{
	ul{
		margin: 0 0 1rem 0;
 		padding: 0;
  		width: 100%;
  		display: block;
  		list-style: none;
  		li {
  			a {
  				width: 100%;
			    display: block;
			    text-align: center;
			    margin-top: 1rem;;
			    color: $dark;
			    text-decoration: none;
			    padding: 1% 0;
			    &:hover {
			    	background: $highlight;
			    }
  			} 
  		}	
	}
}


@media (max-width:768px) {

    .nav-toggle {
        display: block; /* this activate the responsive nav */
        float: right;
       	-webkit-touch-callout: none;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	    border: 0;
	    cursor: pointer;
	    width: 2.5rem;
	    height: 2.5rem;
	    text-indent: -9999px;
	 	background-image: image-url("hamburger.svg");
  		background-repeat: no-repeat;
    }
    
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}
}

@media (min-width: 769px) {
  .js .nav-collapse {
    position: relative;
    max-height: none;
  }
  #nav-toggle {
    display: none;
  }
}
#page_title {
	text-align: center;
	border-bottom: 1px solid $border;
	padding: 3em 0;
	font-size: 1rem;
	text-transform: uppercase;
}

#main_footer{
	padding: 2.5em 5%;
	border-top: 1px solid $border;
	.copyright{
		float: left;
		font-size: .9em;
		margin: 0;
	}
	nav {
		float: right;
		i {
			color: $dark;
			margin-left: 1em;
			padding-top: .2em;
			&:hover {
				color: $highlight;
			}
		}

	}
}

input[type="text"], input[type="email"], input[type="password"], textarea{
	width: 100%;
	max-width: 100%;
	height: 3em;
	border: 2px solid $border;
	padding: 1em;
	margin: .5em 0 2em 0;

}
textarea {
	min-height: 20em;
}

input[type="submit"], .button {
	outline: none;
	background: transparent;
	border: 2px solid $border;
	text-align: center;
	font-size: 1em;
	color: $dark;
	text-decoration: none;
	padding: 1em 2em;
	&:hover {
		border: 2px solid $highlight;
		color: $highlight;
	}
}
.button_wrapper {
	margin: 4em 0;
	text-align: center;

}
.project_button {
	background: $highlight;
	color: $white;
	text-decoration: none;
	padding: 1em 2em;
}
.email-fields {
	text-align: center;
	background: $border;
    padding: 1%;
    border-radius: .35em;
	.email{
		width: 50% !important;
	    padding: 1em 2em !important;
	    height: auto !important;
	    margin-bottom: 1em !important;
	}

	.button-mail {
		background: $highlight !important;
		color: $white !important

	}
	h6 {
		margin: 1em 0;
	}
}	

// ----------- Pagination

.pagination:before,
.pagination:after{
	content: " ";
	display: table;
}
.pagination:after{
	clear: both;
}

.pagination {
	text-align: center;
	margin: 0 0 3em 0;
	a, .previous_page, .current, .next_page {
		padding: .75em 1em;
		margin: 0 .5em;
		border-radius: .15em;
		line-height: 20px;
		text-decoration: none;
		background: $white;
		font-weight: 700;
		font-size: .7em;
		font-style: normal;
		color: $dark;
		&:hover{
			background: $highlight;
			color: $white;
		}
	}
	.current {
		background: $highlight;
		color: $white;
	}
	.disabled {
		color: #c0c0c0;
		&:hover{
			color: #c0c0c0;
			background: $white;
		}
	}
}




@import 'splash';
@import 'home';
@import 'beers';
@import 'search';
@import 'reviews';
@import 'forms';

